
.postbox .multiple .multiple-item {
    border: 1px solid #f2f2f2;
    padding: 1rem;
    margin-bottom: 0.3rem;
}

/** Tribe_Events hides the filter nav in its styles, but we need it for our custom filters **/
.events-cal #post-query-submit {
    display: inherit !important;
}